{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="flash">{{ message }}
                <p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<!-- Sección Hero con imagen de fondo -->
<div class="hero-section">
    <div class="overlay"></div>
    <div class="container h-100 d-flex justify-content-center align-items-center">
        <h1 class="text-light display-4">¡Bienvenido a Nuestra Tienda Online!</h1>
    </div>
</div>

<!-- Sección de productos -->
<div class="container marketing py-5">
    <h2 class="text-center mb-5">Nuestros Productos</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4 py-3">
            <div class="card">
                <img src="{{product.image}}" class="card-img-top" alt="{{product.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{product.title}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <p class="card-text"><strong>${{product.price}}</strong></p>
                    {% if logged_in %}
                    <a href="{{ url_for('add_item_cart', id_product=product.id) }}" class="btn btn-primary">Añadir al carrito</a>
                    {% else %}
                    <a href="{{ url_for('login') }}" class="btn btn-primary">Añadir al carrito</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
